<!DOCTYPE html>
<html>
<style>
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    float: left;
    clear: both;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
   <title>Upload new File</title>
   <body>
    <div style="width:500px;">
      <form action = "" method = POST
         enctype = multipart/form-data>
         <input type = file name = file />
         <input type = number name = volume placeholder="Enter volume (0-100)" min="0" max="100">
         <input type = submit name="submit" value="Upload file">
         <input type = submit name="submit" value="Repeat last uploaded file">
      </form>
    </div>
   </body>
</html>
